/* =================
        Buttons
====================== */
button,.btn {
    background-color: #95a5a6;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin: 2px 2px;
    cursor: pointer;
    &.right {
      float: right;
      overflow: hidden;
    }
    &.left {
      float: left;
      overflow: hidden;
    }
    &.turquoise {
      background-color: #1abc9c;
    }
    &.emerald {
      background-color: #2ecc71;
    }
    &.rever {
      background-color: #3498db;
    }
    &.amethyst {
      background-color: #9b59b6;
    }
    &.asphalt {
      background-color: #34495e;
    }
    &.blue {
      background-color: #3D8EB9;
    }
    &.red {
      background-color: #E3000E;
    }
    &.orange {
      background-color: #F29B34;
    }
    &.black {
      background-color: #000000;
    }
    &.vsmall {
      font-size: 1rem;
    }
    &.small {
      font-size: 1.2rem;
    }
    &.large {
      font-size: 1.8rem;
    }
    &.vlarge {
      font-size: 2rem;
    }
    &.radius {
      border-radius: 4px;
    }
    &.radius-6 {
      border-radius: 6px;
    }
    &.radius-8 {
      border-radius: 8px;
    }
    &.radius-10 {
      border-radius: 10px;
    }
    &.radius-special {
      border-radius: 15px 50px 30px;
      display: inline-block;
    }
    &.rounded {
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 50%;
    }
    &.border {
      background-color: white;
      border: 1px solid;
      padding: 6px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 2px 2px;
      cursor: pointer;
      border: 2px solid  #95a5a6;
      color: #95a5a6;
      &.turquoise {
        border: 2px solid #1abc9c;
        color: #1abc9c;
      }
      &.emerald {
        border: 2px solid #2ecc71;
        color: #2ecc71;
      }
      &.rever {
        border: 2px solid #3498db;
        color: #3498db;
      }
      &.amethyst {
        border: 2px solid #9b59b6;
        color: #9b59b6;
      }
      &.asphalt {
        border: 2px solid #34495e;
        color: #34495e;
      }
      &.blue {
        border: 2px solid #3D8EB9;
        color: #34495e;
      }
      &.red {
        border: 2px solid #E3000E;
        color: #E3000E;
      }
      &.orange {
        border: 2px solid #F29B34;
        color: #F29B34;
      }
      &.black {
        border: 2px solid #000000;
        color: #000000;
      }
    }
    &.primary {
      background-color: #2C82C9;
      color: #fff;
    }
    &.success {
      background-color: #27ae60;
      color: #fff;
    }
    &.warning {
      background-color: #d35400;
      color: #fff;
    }
    &.disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }
  }
  
  
  .btn-groupe {
    content: "";
    clear: both;
    display: table;
    background-color : transparent;
    margin: none;
    padding: 0;
  }
  
  .btn-group button,input:not(:last-child) {
      border-right: none; /* Prevent double borders */
      background-color: transparent;
  }

  .btn-block {
    width: 100%;
  }

