// Grids
// -------------------
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include media-apply(lg) {
    .container {
      width: 75%;
      max-width: 60rem;
    }
  }
}

.container.fluid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
  margin: 0 - ($cols-gap / 2);
  [class^="col"] {
    float: left;
    padding: 0 $cols-gap / 2;
    box-sizing: border-box;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@for $i from 1 through $cols-number {
  .col-#{$i} {
    width: (100% * ($i / $cols-number));
  }
  @include responsive(col, $i) {
    width: (100% * ($i / $cols-number));
  }
}

// responsive .hidden-{device}
@include responsive(hidden) {
  display: none;
}