/* Variables */

// Color variables
$default-bg-color:   #ffffff !default;
$default-text-color: #333333 !default;

$default-link-color: rgb(158, 19, 19);

$primary-color:     #0097e6;
$secondary-color:   #353b48;
$success-color:     #44bd32;
$warning-color:     #ffa502;
$danger-color:      #eb2f06;

$link-color:        #137391;

// Text variable 
$font-family:         "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:           62.5%;
$bold:                bold;

