

.full-width {
    width: 100%;
    box-sizing: border-box; }
  .max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .float-right {
    float: right; }
  .float-left {
    float: left; }

.text-center {
  text-align: center;
}    

.text-right {
   text-align: right;
}

.text-left {
  text-align: left;
}