/* base */
/* ----------------------- */
  @import 'variables';

  *, *::after, *::before {
    box-sizing: border-box; }

  html {
    font-size: $font-size; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-family;
    color: $default-text-color; }

// Link
// --------------------------
a {
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 15%);
  }
}

// Separato 
// --------------------------
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $secondary-color;
}