/* Variables */

// Color variables
$default-bg-color:   #ffffff !default;
$default-text-color: #333333 !default;

$default-link-color: rgb(158, 19, 19);

$primary-color:     #0097e6;
$secondary-color:   #353b48;
$success-color:     #44bd32;
$warning-color:     #ffa502;
$danger-color:      #eb2f06;

$link-color:        #137391;

// Text variable 
$font-family:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
$font-size:           62.5%;
$bold:                bold;

// Breakpoints
$breakpoints: (
  xl: (min: 1200px),
  lg: (min: 992px, max: 1199px), 
  md: (min: 768px, max: 992px),
  sm: (min: 576px, max: 767px),
  xs: (max: 576px)
);

// Grid Cols
$cols-number: 12;
$cols-gap: 15px;