// ---------------------------------------------------------------
// This file contains all styles related to the Blockquotes component.
// ---------------------------------------------------------------

blockquote {
  border-left: .1rem solid #dadee4;
  margin-left: 0;
  padding: .4rem .8rem;
  p:last-child {
    margin-bottom: 0;
  }
}