// -----------------------------------------------------------------------------
// This file contains CSS Empty.
// -----------------------------------------------------------------------------
.empty {
  background: #f7f8f9;
  border-radius: .1rem;
  color: #66758c;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 100%;
  .empty-icon {
    margin-bottom: .8rem;
  }
  .empty-title, .empty-subtitle {
    margin: .4rem auto;
  }
  .empty-action {
    margin-top: .8rem;
  }
}