// ---------------------------------------------------------------
// This file contains all styles related to the Panel component.
// ---------------------------------------------------------------

.panel {
  border: .05rem solid #dadee4;
  border-radius: .1rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  .panel-header, .panel-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: .8rem;
  }
  .panel-nav {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .panel-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 .8rem;
  }
}