// ---------------------------------------------------------------
// This file contains all styles related to the progress bar component.
// ---------------------------------------------------------------

.progress {
  width: 100%;
  background-color: #ddd;
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.bar {
  width: 10%;
  height: 12px;
  background-color: #f0932b;
}