.btn {
    background-color: #95a5a6;
    /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    &.right {
      float: right;
      margin-right: -30px;
    }
    &.left {
      float: left;
      overflow: hidden;
    }
    &.turquoise {
      background-color: #1abc9c;
    }
    &.emerald {
      background-color: #2ecc71;
    }
    &.rever {
      background-color: #3498db;
    }
    &.amethyst {
      background-color: #9b59b6;
    }
    &.asphalt {
      background-color: #34495e;
    }
    &.blue {
      background-color: #3D8EB9;
    }
    &.red {
      background-color: #E3000E;
    }
    &.orange {
      background-color: #F29B34;
    }
    &.black {
      background-color: #000000;
    }
    &.vsmall {
      font-size: 0.6rem;
    }
    &.small {
      font-size: 0.8rem;
    }
    &.large {
      font-size: 1.2rem;
    }
    &.vlarge {
      font-size: 1.5rem;
    }
    &.radius {
      border-radius: 4px;
    }
    &.radius-6 {
      border-radius: 6px;
    }
    &.radius-8 {
      border-radius: 8px;
    }
    &.radius-10 {
      border-radius: 10px;
    }
    &.radius-special {
      border-radius: 15px 50px 30px;
    }
    &.border {
      background-color: white;
      border: 2px solid;
      padding: 10px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 2px 2px;
      cursor: pointer;
      border: 2px solid  #95a5a6;
      color: #95a5a6;
      &.turquoise {
        border: 2px solid #1abc9c;
        color: #1abc9c;
      }
      &.emerald {
        border: 2px solid #2ecc71;
        color: #2ecc71;
      }
      &.rever {
        border: 2px solid #3498db;
        color: #3498db;
      }
      &.amethyst {
        border: 2px solid #9b59b6;
        color: #9b59b6;
      }
      &.asphalt {
        border: 2px solid #34495e;
        color: #34495e;
      }
      &.blue {
        border: 2px solid #3D8EB9;
        color: #34495e;
      }
      &.fruit {
        background: #e96443;  
        background: -webkit-linear-gradient(to right, #904e95, #e96443);  
        background: linear-gradient(to right, #904e95, #e96443); 
        color : #fff;
      }
      &.red {
        border: 2px solid #E3000E;
        color: #E3000E;
      }
      &.orange {
        border: 2px solid #F29B34;
        color: #F29B34;
      }
      &.black {
        border: 2px solid #000000;
        color: #000000;
      }
    }
    &.primary {
      background-color: #2C82C9;
      color: #fff;
    }
    &.success {
      background-color: #92F22A;
      color: #fff;
    }
    &.warning {
      background-color: #FD5B03;
      color: #fff;
    }
    &.disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }
    &.hover {
      border: 0 solid;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
      outline: 1px solid;
      outline-color: rgba(255, 255, 255, 0.5);
      outline-offset: 0px;
      text-shadow: none;
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
      }
    }
  }
  
  
  .btn-groupe {
    content: "";
    clear: both;
    display: table;
    background-color : #ffffff;
    margin: none;
    padding: 0;
  
  }
  
  .btn-group button,input:not(:last-child) {
      border-right: none; /* Prevent double borders */
      background-color: #fff;
  }