/* =================
      Blockquote
====================== */
blockquote {
  background: #f9f9f9;
  font-style: italic;
  border: 1px solid #ecf0f1;
  border-left: 10px solid #2980b9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #2980b9;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}