/* =================
         Code
====================== */
pre {
  overflow: auto;
  background-color: #ffffff;
  border-left: 4px solid #281ccc;
  border-right: 1px solid #898989;
  padding: 5px;
}